/* Header styles begin */
header {
    display: grid;
    grid-template-columns: auto auto;
}

.counter {
    text-align: right;
}
/* styles for start page begin */
#start {
  margin: auto;
  width: 60%;
  border: none;
  padding: 10px;
}

#startBtn {
  background-color: blueviolet;
  color: white;
}
/* Question and Answer styles begin */

#quizPage {
    /* padding: 50px; */
}

.question {
  margin: auto;
  width: 60%;
  border: none;
  padding: 10px;
}

.answer {
  display: block;
  background-color: blueviolet;
  color: white;
}

#feedback {
    margin: auto;
    width: 60%;
}
/* highscore section */
#highScore {
    margin: auto;
    width: 60%;
    border: none;
    padding: 10px;  
}

#saveBtn {
  background-color: blueviolet;
  color: white;
}

#tblHighScore {
    margin: auto;
    width: 60%;
    border: none;
    padding: 10px;
}

.restartBtn {
  background-color: blueviolet;
  color: white;
}

#scoreList {
    list-style-position:inside;
    padding: 0px;
}

#scoreList > li:nth-of-type(odd) {
    background-color: pink;
}

#scoreList > li:nth-of-type(even) {
    background-color: grey;
}

#clear {
  background-color: blueviolet;
  color: white;
}
