/* Header styles begin */

/* styles for start page begin */
#start {
  margin: auto;
  width: 60%;
  border: none;
  padding: 10px;
}

#startBtn {
  background-color: blueviolet;
  color: white;
}
/* Question and Answer styles begin */
.question {
  margin: auto;
  width: 60%;
  border: none;
  padding: 10px;
}

.answer {
  display: block;
  background-color: blueviolet;
  color: white;
}

/* highscore section */
#highScore {
    margin: auto;
    width: 60%;
    border: none;
    padding: 10px;  
}

#saveBtn {
  background-color: blueviolet;
  color: white;
}

.restartBtn {
  background-color: blueviolet;
  color: white;
}

.clear {
  background-color: blueviolet;
  color: white;
}
